{% extends "base.html" %}
{% block content %}
<script>
//http://totalprogus.blogspot.com.br/2013/12/bootstrap-add-active-class-to-li.html
    $(document).ready(function() {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    });
</script>
<!--
<div class="page-header">
<ol class="breadcrumb">
  <li><a href="/">My Books</a></li>
  <li><a href="#">{{ book.title }}</a></li>
</ol>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" ><a href="/">Index</a></li>
  <li role="presentation" class="active"><a href="#">{{ book.title }}</a></li>
</ul><br>
-->
<h2>Full Record Detail</h2>
<p>
{{ Tjros.time|default:"No notes" }}
</p>

{% endblock %}
